@import '../styles.css';

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--dark-white);
}
header {
    background-color: var(--dark-black);
    color: var(--light-white);
    padding: 20px;
    text-align: center;
}
h1 {
    margin-bottom: 0;
}
nav {
    background-color: var(--light-black);
    color: var(--light-white);
    padding: 10px;
    text-align: center;
}
nav a {
    color: var(--light-white);
    text-decoration: none;
    padding: 10px 20px;
}
nav a:hover {
    background-color: var(--light-black);
}
section {
    padding: 20px;
    margin: 20px;
    background-color: var(--light-white);
}

/*After*/

footer{
    background-color: var(--dark-black);
    color: var(--light-white);
    position: relative;
    padding: 20px;
    text-align: center;
}